*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    background-color: #777 !important;
}

.navbar-brand{
    transition: 0.5s;
}

.hr-height{
    border-top: 2px solid #dee2e6!important;
    box-sizing: content-box;
}
.good_brand{
    border-right:1px solid #ccc;
    padding-right: 10px;
    font-weight: bold;
}

.style-card-programming {
    width: 18rem;

}

.navbar-brand:hover{
    text-shadow: 10px 10px 20px #fff,
    -10px -10px 20px #fff;
}

.Down_MenuStyle{
    text-shadow: 1px 1px 0px black;
    color: #ccccff;
}

.Down_MenuStyle:hover{
    color: white !important;
}

.form-control {

    border-radius: 0.25rem;

}
.height-carousel{
    height: 550px;
}
a{
    color: #ccccff;
}

.hovered-question:hover{

    background-color: #212529;
    color: #fff;

}

a:hover{
    color: #fff !important;
}

.style-carsouel img{
    height: 550px;
}

.style-carsouel h1{
    text-shadow: 1px 1px #000;
}

.style-carsouel .carousel-caption{
    background: rgba(200, 200, 200, 0.3);
    border-radius: 7px;
}

.carousel-inner .carousel-caption {
    background: rgba(200, 200, 200, 0.3);
    border-radius: 7px;
    position: absolute;
    right: 15%;
    bottom: 1.25rem;
    left: 15%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: #fff;
    text-align: center;
}

code{
    font-size: 135% !important;
}

.height-proogramming-lang {
    height: 265px;
}

.btnbefo {
    position: relative;
    left: 30px;
}

.btnbefo:hover::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent lightblue transparent;
    top: 20px;
    left: 13px;
}

.btnbefo::after {
    content: "";
    position: absolute;
    width: 80px;
    height: 40px;
    background-color: lightblue;
    border-radius: 5px;
    left: -15px;
    top: 40px;
    display: none;
}

.btnbefo:hover::after {
    display: block;
    content: "copy to clipboard";
}

.btnbefo:active::after {
    display: block;
    content: "copied";
    width: 80px;
    height: 25px;
}

.fixedimg1{
    background-image: url(../img/خلفيات-كمبيوتر-موقع-محيط-_182048401_-__.jpg);
}

.fixedimg{
    background-attachment: fixed;
    background-size: cover;
    height: 250px;
}

.fixedimg2{
    background-image: url(../img/images.jpg);
}

.row-basic-good{
    background-color: #555;
     border-radius: 7px;
}

.myicon {
    display: inline-block;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin: auto;
    border: 1px solid black;
    align-self: center;

}

.thanks-height{
    height: 300px;

}
.oneimage{
    width: 18rem;
}


footer{

    margin-top: 50px;
    padding: 10px;
    padding-bottom: 1px;
    margin-bottom: -25px;

}


